//*other
*{
   padding: 0;
   margin: 0;
   outline: none;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 0.05rem;
}
body{
   background: #f4f6fc;
}
input{
   &:-webkit-autofill,
   &:-webkit-autofill:hover, 
   &:-webkit-autofill:focus, 
   &:-webkit-autofill:active{
      filter: none !important;
   }
}

//*pages
@import 'pages/index';
@import 'pages/login';

//*components