.label{
   display: grid;

   margin-bottom: .5rem;
   margin-top: 1rem;
   &:first-of-type{
      margin-top: 0;
   }
   span{
      font-size: 0.95rem;
      font-weight: 600;
      letter-spacing: 0.03rem;
      color: #63666d;
   }
}

.form{
   width: 500px;
   .input-group{
      display: grid;
      gap: 0.5rem;
   }
   .container{
      .input-txt{
         width: 100%;
         padding: .8rem 1rem;
         letter-spacing:0.02rem;
         font-size: 0.85rem;
      }
   }
}


.pass-container{
   display: flex;
   align-items: center;

   position: relative;
   .eye{
      position: absolute;
      margin-right: 1rem;
      width: 20px;
      height: 20px;
      right: 0;
      cursor: pointer;
      z-index: 1;
   }
   .input-txt{
      width: 100%;
   }
}
