.clients-page{
   display: grid;
   grid-template-columns: 1fr 1fr;

   height: 100vh;
   .add-client{
      display: grid;
      // align-content: center;
      justify-content: center;
      
      overflow: auto;
      padding: 6rem 0;
      
   }
   .list-clients{

   }
}